/*FONT*/

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Radomir Tinkov - Gilroy-ExtraBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Radomir Tinkov - Gilroy-Light.otf");
  font-weight: lighter;
  font-style: normal;
}

/*CONFIGURATION*/

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #464646;
}

/*TOFIX - reset only for lists with classes*/
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*TOFIX - reset only for lists with classes*/
ul li {
  display: inline-block;
}

/*TITELS*/

h2 {
  color: #000;
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h3 {
  color: #000;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/*GRID*/

.container {
  width: 1160px;
  margin: 0 auto;
}

.half-width {
  width: 580px;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

/*COMMON*/

.btn {
  position: relative;
  display: inline-block;
  width: 220px;
  color: #000000;
  font-family: Gilroy, sans-serif;
  font-size: 18px;
  vertical-align: top;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  text-align: center;
}

.btn:after {
  position: absolute;
  display: block;
  width: 222px;
  height: 7px;
  background-color: #f0c52e;
  content: "";
  top: 10px;
  left: 0;
  z-index: -1;
}

/*HEADER*/

.main-header {
  position: relative;
  padding: 44px 60px 0;
  margin-top: 40px;
  background-color: #ffe27f;
  min-height: 186px;
}

.search-user-panel {
  margin-bottom: 35px;
}

.user-panel-header,
.navigation {
  display: flex;
}

.user-panel-header a {
  text-decoration: none;
  color: #000;
}

.user-panel-header .login {
  margin-right: auto;
  position: relative;
  margin-left: 46px;
}

.user-panel-header .login:before {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 12px;
  left: -26px;
  top: 8px;
  background-image: url("../img/user.png");
  background-repeat: no-repeat;
}

.user-panel-header .compare {
  padding-left: 26px;
  margin-right: 70px;
  position: relative;
}

.user-panel-header .compare:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 5px;
  top: 10px;
  background-image: url("../img/compare.png");
  background-repeat: no-repeat;
}

.user-panel-header .basket {
  position: relative;
}

.user-panel-header .basket:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  left: -23px;
  top: 8px;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
}

.main-navigation a {
  font-family: Gilroy;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.navigation.half-width {
  width: 540px;
}

.navigation .delivery
{
  margin-right: 35px;
}

.navigation .contacts {
  margin-left: auto;
}

.logo-header {
  position: absolute;
  top: -19px;
  left: 58px;
}

.hidden-sections {
  display: none;
}

/*SLIDER*/

.slider {
  padding: 0 90px;
  margin-bottom: 100px;
  position: relative;
}

.slider:before {
  position: absolute;
  left: 0;
  background-color: #ffe27f;
  content: '';
  width: 1160px;
  height: 113px;
  z-index: -1;
}

.slide {
  display: none;
}

.slide.active {
  display: flex;
}

.slider h2 {
  margin-bottom: 21px;
}

.slider .description {
  padding: 41px 0 0 20px;
}

.slider .description p {
  margin-bottom: 47px;
}

.details {
  margin-top: 63px;
}



.details-main {
  color: #000;
  letter-spacing: 1px;
  font-family: "Gilroy", sans-serif;
  font-size: 36px;
  font-weight: 300;
}

.details-desc {
  color: #000;
  font-family: "Gilroy", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

/*CATEGORIES*/

.categories {
  margin-bottom: 70px;
}

.category {
  width: 160px;
}

.category .img-box {
  margin-bottom: 30px;
}

.category p {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #000;
}

.img-box{
  width: 160px;
  height: 160px;
  background-color: #ffe27f;
}

/*SERVECES*/

.services {
  margin-bottom: 94px;
  min-height: 287px;
  background-color: #e6e6e6;
}

.services-seleciton {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-right: 120px;
}

.service-details {
  display: none;
}

.service-details.active {
  display: block;
}

.service-details h2 {
  margin: 0;
}

/*MANUFACTURER*/

.manufactures {
  margin-bottom: 100px;
}

/*COMPANY*/

.company {
  margin-bottom: 140px;
}

.company h2 {
  margin-bottom: 53px;
}

.company p {
  margin-bottom: 35px;
}

.company .about {
  width: 460px;
}

/*NAVIGATION STORE*/

.navigation-store h1 {
  margin-bottom: 35px;
}

/*CATALOGUE*/

.catalogue-left {
  width: 268px;
  padding-right: 68px;
}

.catalogue-right {
  width: 760px;
  flex-grow: 1;
  padding-left: 72px;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pages {
  display: flex;
  justify-content: space-between;
}

/*FOOTER*/

.main-footer {
  color: #fff;
}

.main-footer {
  background-color: #444;
  color: #fff;
  min-height: 323px;
  padding-top: 60px;
}

.user-panel-footer {
  width: 360px;
  justify-content: flex-end;
}

.user-panel-footer a {
  position: relative;
  margin-left: 67px;
  text-decoration: none;
  color: #fff;
}

.user-panel-footer .login:before {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 12px;
  left: -27px;
  top: 8px;
  background-image: url("../img/user-ft-still.png");
  background-repeat: no-repeat;
}

.user-panel-footer .compare:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: -23px;
  top: 10px;
  background-image: url("../img/compare-ft-still.png");
  background-repeat: no-repeat;
}

.user-panel-footer .basket:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  left: -25px;
  top: 8px;
  background-image: url("../img/cart-ft-still.png");
  background-repeat: no-repeat;
}

.address {
  width: 260px;
}

.telephone {
  text-align: right;
  width: 260px;
}

.navigation-footer {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.footer-bottom:before {
  content: "";
  /*display: block;*/
  width: 10px;
}

.social-media {
  width: 160px;
}

/*CONTACT FORM*/

.write-us {
  width: 960px;
  height: 555px;
  margin: 0 auto;
  padding: 100px 100px 0;
}

.form-half-width {
  width: 360px;
  margin: 20px;
  display: inline-block;
}
